<% content_for :scripts do %>
<% end %>

<div class="site_content" onload="change_sub_menu_highlight()">
   <div class="main-side-heading">About Us</div>

   <div style="text-align: justify;">Sri Sathya Sai Mobile Hospital is a unique free rural outreach holistic health service which was started by Bhagawan Sri Sathya Sai Baba on 30.3.2006. The service operates from 1 st to 12 the of every month at 12 nodal points also known as base villages located in six mandals around Puttaparthi in the State of Andhra Pradesh. The nodal points are fashioned in a circular pattern so that a patient seen at one nodal point can be reviewed after a few days at another point which is often closer for the patient interms of distance as well as convenient. Populations of about five lakhs spread over 300 villages from 12 Mandals are the beneficiaries of this service.</div>

<div style="text-align: justify;">&nbsp;</div>

<div style="padding-bottom: 20px;">

   <div style="float:left;text-align: justify;">The hospital is managed more or less totally on a voluntary basis. About 300 doctors drawn from the States of Andhra Pradesh and Telangana belonging to 15 specialties dedicate their skills and contribute their services on a rotating schedule. About 15-18 doctors are in service on any particular day along with about 40 support staff including technicians, pharmacists, nurses, managers and assistants. As an outreach programme, the theme of the Mobile Hospital includes three main aspects of service consisting of (i) Curative drive (ii) Preventive focus and (iii) Spiritual base.</div>

</div>

<div style="text-align: justify;">&nbsp;</div>

<div style="">
The curative drive owes its strength to the presence of doctors belonging to nine specialties on any particular day including Medicine, Surgery, Paediatrics, Orthopedics, ENT, Dentistry, Ophthalmology, Gynaecology, and Radiology. Also based on need services like Dermatology, Psychiatry, Cardiology, Cardio-Thoracic Surgery, Urology, Neurology, Endocrinology and Gastroenterology too are provided periodically. </div>

<div style="text-align: justify;">&nbsp;</div>

<div style="text-align: justify;">The highlighting feature of the hospital is the diagnostic unit, which is equipped with an Ultrasound machine with color Doppler, ECG, EEG, Digitized X-Ray and laboratory which can do most of the hematological and bio-chemical investigations. The presence of this diagnostic support adds quality and credibility to the services provided. </div>

<div style="">
  <center>
    <img src="/assets/holistic_health_image.png" height="200px" width="250px">
  </center>
</div>  

<div style="text-align: justify;">&nbsp;</div>

   <div style="text-align: justify;">

	<p style="text-align: justify;">Since the program is outreach in terms of scope, a larger agenda was visualized when the ideology or the driving theme, for the service was framed. A triangular holistic health approach was conceived, consisting of, curative drive, preventive focus and spiritual base, the aim being not just cure of diseases but promotion of health and happiness. The preventive services consist of health education, which covers several aspects of keeping good health extensively and in detail. Five major health-related topics like cleanliness (environmental, home and individual), nutrition, healthy air and water, harmful effects of smoking and alcoholism, proper physical exercise and relaxation of mind are discussed. Awareness in these subjects is created at the individual, family, and community levels using a variety of tools that includes audiovisual presentations, demonstrative sessions, interactive meetings, photo exhibition. These efforts are further reinforced by relaying this content regularly via the local cable television network. The spiritual base of the service involves explaining and motivating people on the importance of positive thinking, human values, prayer and meditation, all of which foster positive health. A variety of programs that focus on these values are conducted.</p>
   	</div>

   <div style="text-align: justify;">&nbsp;</div>

<div style="text-align: justify;">
  <p style="text-align: justify;">The impact from these services has been tremendous. On the curative front it has given a sense of great security to the people living in nearly 300 villages around Puttaparthi. People living in this belt feel they have a free high quality hospital either at their doorstep or quite near to them for at least half a month. It is a boon especially for patients from economically weaker sections with chronic ailments who face the burden of having to buy medicines on a continuous basis. The preventive services have lead to increased awareness on major health issues, which is gradually getting translated into changed habits, and lifestyle modifications for the better. The spiritual component of the service has strengthened the community bonds and has reminded people that positive thinking and practice of human values leads to sound health &amp; happiness. Community participation is also good with people from villages coming forward to assist with arrangements and logistics at each of the nodal points. Many of them have become part of the service. Doctors and other support staff take this service as a great opportunity to show their gratitude to society, which nourishes and nurtures them. They also take it as their way of showing love to Bhagawan Sri Sathya Sai Baba who has inspired and motivated them, by His own example, to take up this path of selflessly serving fellow human beings.</p>
	</div>  

</div>
