<div class="site_content" onload="change_sub_menu_highlight()">
   <div class="main-side-heading">About Us</div>

   <div style="text-align: justify;">Sri Sathya Sai Mobile Hospital Programme is a unique rural outreach health service launched by Bhagawan Sri Sathya Sai Baba on March 30, 2006 to provide holistic health services completely free of charge to patients. It operates from the 1<sup>st</sup> to 12<sup>th</sup> day of every month at 12 nodal points (base villages) drawn from 6 mandals from Anantapur District, namely Puttaparthi, Kothacheruvu, Bukkapatnam, Chennekothapalli (C.K.Palli), Nallamada and Obuladevaracheruvu (O.D.Cheruvu). Each of these 12 nodal points serve several surrounding villages. Currently this Mobile Hospital serves patients from 63 target villages along with the patients visiting from about 400 villages in the region.About 500 doctors from the States of Andhra Pradesh and Telengana belonging to 12 specialties dedicate their skills and serve as volunteers on an ongoing basis.</div>
   
<div style="text-align: justify;">&nbsp;</div>

<div style="text-align: justify;">Some of the unique features of the Mobile Hospital include diagnostic facilities such as an ultrasound with colour doppler and 2D echocardiogram, digital x-ray and a laboratory, which can conduct most of the routine pathological and bio-chemical investigations. The presence of this diagnostic support ensures quality and credibility to the services provided.</div>

<div style="text-align: justify;">&nbsp;</div>

<div style="padding-bottom: 20px;">

   <div style="float:left;text-align: justify;width: 80%;">As an outreach programme, the theme of the Mobile Hospital includes three main aspects of service consisting of (i) Curative drive (ii) Preventive focus and (iii) Spiritual base.</div>

   <div style="float:right;">
     <img src="/assets/holistic_health_image.png" height="200px" width="250px">
   </div>  
</div>

<div style="text-align: justify;">&nbsp;</div>
<div style="text-align: justify;">&nbsp;</div>

<div style="">
	The curative drive owes its strength to the presence of doctors belonging to nine specialities on any particular day including Medicine, Surgery, Paediatrics, Orthopedics, ENT, Dentistry, Ophthalmology, Gynaecology, and Radiology. Also based on need services like Dermatology, Psychiatry, Cardiology, Cardio-Thoracic Surgery, Urology, Neurology, Endocrinology and Gastroenterology too are provided periodically.
</div>

<div style="text-align: justify;">&nbsp;</div>

<div style="text-align: justify;">These specialists work under a common roof integrating their efforts to solve many of the intricate problems which the people in the rural areas face. On an average, about 600 - 800 patients are seen every day at each of the nodal points. On the diagnostic front, a wide variety of tests are done in the diagnostic bus. For those tests which cannot be done in the bus, samples are collected and are delivered to the laboratories in the Sathya Sai Institute of Higher Medical Sciences, Puttaparthi for testing and reporting.The curative work is further strengthened by a Pharmacy unit which ensures that patients with chronic ailments like diabetes, hypertension, heart disease, asthma, epilepsy, etc., are all provided with continuous and uninterrupted supply of medicines (one month supply till the next month's visit).
	</div>

<div style="text-align: justify;">&nbsp;</div>

   <div style="text-align: justify;">

   	<p style="text-align: justify;">For those patients who need surgical interventions in General Surgery, Gynaecology, ENT, Paediatric Surgery and Laparoscopic Surgery are evaluated in Mobile Hospital for surgical fitness and operated by our visiting surgeons in Sri Sathya Sai General Hospital from the 1<sup>st</sup> to 5<sup>th</sup> of every month. Patients needing critical care surgeries are facilitated to higher medical centres. Patients requiring follow-up treatment after surgical interventions are monitored till the logical solutions are addressed.</p>
   	</div>

   <div style="text-align: justify;">&nbsp;</div>

   <div style="text-align: justify;"><p style="text-align: justify;">The preventive work consists of health education, which covers several aspects of keeping good health extensively and in detail. Five major health-related topics like cleanliness (environmental, home and individual), nutrition, healthy air and water, harmful effects of smoking and alcoholism, proper physical exercise and relaxation of mind are discussed. Awareness in these subjects is created at the individual, family, and community levels using a variety of tools that includes audiovisual presentations, demonstrative sessions, interactive meetings, photo exhibition. These efforts are further reinforced by relaying these content regularly via the local cable television network.</p>
   	</div>

   <div style="text-align: justify;">&nbsp;</div>

   <div style="text-align: justify;">
   	<p style="text-align: justify;">The spiritual base of the service involves explaining and motivating people on the importance of positive thinking, human values, prayer and meditation, all of which foster positive health. A variety of programmes that focus on these values are conducted.</p>
   	</div>

   <div style="text-align: justify;">&nbsp;</div>

   	<div style="text-align: justify;">
  <p style="text-align: justify;">The impact of the Mobile Hospital services has been tremendous. Comprehensive healthcare is provided to these communities through preventive healthcare, diagnosis and treatment. On the curative front, it has given a sense of great security to people living in nearly 600 villages around Puttaparthi. It is a boon for patients with chronic ailments who might not be able to buy medicines on a continuous basis. The preventive services have created a huge wave of awareness on major health issues, which is gradually getting translated into changing habits, for the betterment among these communities. The spiritual component of the service has strengthened the community bonds and has reminded people that spirituality is the way of life and practicing human values lead to positive health and happiness. The Mobile Hospital is thus acting as a vehicle for providing comprehensive healthcare and a channel for dissemination of the ideals of healthcare which Bhagawan Sri Sathya Sai Baba has set. It is not only a state-of-the-art rural outreach service but also a state-of-the-heart caring and loving service.</p>
	</div>  

</div>