<div class="site_content" onload="change_sub_menu_highlight()">
	<div style="height: 20px;"></div>

	<div>
		<h3 style="text-align: center;line-height: 175%;">The Programme Director,</h3>
		<h3 style="text-align: center;line-height: 175%;">Sri Sathya Sai Mobile Hospital,</h3>
		<h3 style="text-align: center;line-height: 175%;">(A Unit of Sri Sathya Sai Central Trust)</h3>
		<h3 style="text-align: center;line-height: 175%;">Prasanthi Nilayam - 515 134</h3>
		<h3 style="text-align: center;line-height: 175%;">Sri Sathya Sai District,</h3>
		<h3 style="text-align: center;line-height: 175%;">Andhra Pradesh</h3>
		<h3 style="text-align: center;line-height: 175%;">e-mail: sssmhdir at sssmt.org.in</h3>
	</div>
</div>
