<div class="site_content" onload="change_sub_menu_highlight()">
<div class="main-side-heading">Specialities Offered</div>

<p style="margin: 13px 0px; padding: 0px; line-height: 22.75px;">Medicine, General Surgery, Paediatrics, Orthopedics, ENT, Dentistry, Ophthalmology, Obstetrics and Gynaecology, and Radiology are available every month.</p>

<p style="margin: 13px 0px; padding: 0px; line-height: 22.75px;">Periodically, services like Dermatology, Psychiatry, Cardiology, Cardio-Thoracic Surgery, Urology, Neurology, Endocrinology and Gastroenterology are also provided during the 12-day program.</p>

<div class="main-side-heading" style="padding: 22px 0 10px 0;">Service Schedule</div>

<table style="height: 388px; width: 633px; border-radius: 10px; margin-left: auto; margin-right: auto;" border="0">
<thead>
<tr class="heading_row" >
   <th class="heading_row">Date</th>
   <th class="heading_row">Nodal Village</th>
   <th class="heading_row">Mandal</th>
</tr>
</thead>

<tbody>
<tr class="border_bottom">
<td style="text-align: center;">1<sup>st</sup> of every month</td>
<td style="text-align: center;">Vengalammacheruvu</td>
<td style="text-align: center;">Puttaparthi</td>
</tr>
<tr style="text-align: center; background-color: #bac8d5;">
<td style="text-align: center;">2<sup><span style="font-size: 10.8333330154419px;">nd</span></sup> of every month</td>
<td style="text-align: center;">Chandrayunipalli</td>
<td style="text-align: center;"><span style="line-height: 15.8079996109009px;">Bukkapatnam</span></td>
</tr>
<tr>
<td style="text-align: center;">3<sup>rd</sup> of every month</td>
<td style="text-align: center;"><span style="line-height: 15.8079996109009px;">Marala</span></td>
<td style="text-align: center;"><span style="line-height: 15.8079996109009px;">Bukkapatnam</span></td>
</tr>
<tr style="background-color: #bac8d5;">
<td style="text-align: center;">4<sup>th</sup> of every month</td>
<td style="text-align: center;">Vankarakunta</td>
<td style="text-align: center;">Nallamada</td>
</tr>
<tr>
<td style="text-align: center;">5<sup>th</sup> of every month</td>
<td style="text-align: center;">Yerravankapalli</td>
<td style="text-align: center;">Nallamada</td>
</tr>
<tr style="text-align: center; background-color: #bac8d5;">
<td style="text-align: center;">6<sup>th</sup> of every month</td>
<td style="text-align: center;">Kondakamarla</td>
<td style="text-align: center;">Obuladevaracheruvu</td>
</tr>
<tr style="text-align: center;">
<td style="text-align: center;">7<sup>th</sup> of every month</td>
<td style="text-align: center;">Gownipalli</td>
<td style="text-align: center;">Obuladevaracheruvu</td>
</tr>
<tr style="background-color: #bac8d5;">
<td style="text-align: center;">8<sup>th</sup> of every month</td>
<td style="text-align: center;">Nidimamidi</td>
<td style="text-align: center;">Puttaparthi</td>
</tr>
<tr>
<td style="text-align: center;">9<sup>th</sup> of every month</td>
<td style="text-align: center;">Byrapuram</td>
<td style="text-align: center;">Kothacheruvu</td>
</tr>
<tr style="background-color: #bac8d5;">
<td style="text-align: center;">10<sup>th</sup> of every month</td>
<td style="text-align: center;">Venkatampalli</td>
<td style="text-align: center;">Chennekothapalli (C.K.Palli)</td>
</tr>
<tr>
<td style="text-align: center;">11<sup>th</sup> of every month</td>
<td style="text-align: center;">Veldurthi</td>
<td style="text-align: center;">Chennekothapalli (C.K.Palli)</td>
</tr>
<tr style="background-color: #bac8d5;">
<td style="text-align: center;">12<sup>th</sup> of every month</td>
<td style="text-align: center;">Markuntapalli</td>
<td style="text-align: center;">Kothacheruvu</td>
</tr>
</tbody>
</table>

<div class="main-side-heading" style="padding: 22px 0 10px 0;">Service Area Map</div>

<div align="center">
   <figure class="pull-center" style="color: #222e39; font-size: 13px; line-height: 22.75px;">
      <a style="color: #506a86;" title="Service Area Map" href="assets/service_area_map_big.jpg" target="_blank"><img style="border: 1px solid #9cafc4; margin: 5px;" title="Service Area Map" src="assets/service_area_map_small.jpg" alt=""></a>
   </figure>
</div>

<div class="main-side-heading" style="padding: 22px 0 10px 0;">Workflow at the Programme Site</div>

<div align="center">
   <figure style="color: #222e39; font-size: 13px; line-height: 22.75px;">
      <a style="color: #506a86;" title="Process Flow At the Work Site" href="assets/process_flow_big.jpg" target="_blank"><img style="border: 1px solid #9cafc4;" title="Process Flow at the Work Site" src="assets/process_flow_small.jpg" alt="Process Flow at the Work Site"></a></figure>
</div>


</div>