<div class="site_content" style="width: 100%;" onload="change_sub_menu_highlight()">
	<div class="main-side-heading">
		Cumulative Statistics (March 2006 – October 2019)
	</div>

	<div id=no_of_patients_served style="border: 0px solid">
		<div class="small-side-heading" style="padding-top: 15px;">Number of Patients Served</div>

		<div style="width: 100%;border: 0px solid;height: 180px;" align="center">
			<div class="table100 ver1 m-b-110" style="width: 80%;">

				<div style="padding-top: 10px;"></div>

				<table data-vertable="ver1" class="stats_table">
				<thead>
				<tr class="row100 head">
				<th class="stats_table_left big_and_bold" data-column="column2">Male</th>
				<th class="column100 column3 stats_table big_and_bold" data-column="column3">Female</th>
				<th class="column100 column4 stats_table big_and_bold" data-column="column4">Children</th>
				<th class="column100 column8 stats_table_right big_and_bold" data-column="column8" style="background-color: #c45700">Total</th>
				</tr>
				</thead>
				<tbody>
				<tr class="row100">
				<td class="column100 column2 stats_table" data-column="column2">3,77,639</td>
				<td class="column100 column3 stats_table" data-column="column3">6,13,052</td>
				<td class="column100 column4 stats_table" data-column="column4">1,39,366</td>
				<td class="column100 column5 stats_table " data-column="column5">11,30,057</td>
				</tr>
				</tbody>
				</table>
			</div>
		</div>
	</div>

	<div id=distribution_of_patients>
		<div class="small-side-heading">Distribution of Patients</div>

		<div style="width: 100%;height: 180px;" align="center">
			<div class="table100 ver1 m-b-110" style="width: 60%;">
				<div style="padding-top: 10px;"></div>
					<table data-vertable="ver1" class="stats_table">
						<thead>
							<tr class="row100 head">
							<th class="stats_table_left big_and_bold" data-column="column2">Male</th>
							<th class="stats_table big_and_bold" data-column="column3">Female</th>
							<th class="stats_table_right big_and_bold" data-column="column4">Children</th>
						</thead>
						<tbody>
							<tr class="row100">
							<td class="column100 column2 stats_table" data-column="column2">33%</td>
							<td class="column100 column3 stats_table" data-column="column3">54%</td>
							<td class="column100 column4 stats_table" data-column="column4">13%</td>
							</tr>
						</tbody>
					</table>
			</div>
		</div>
	</div>


	<div id=diagnostic_procedurted_performed>
		<div class="small-side-heading">Diagnostic Procedures Performed</div>

		<div style="width: 100%;height: 180px;" align="center">
			<div class="table100 ver1 m-b-110" style="width: 80%;">

				<div style="padding-top: 10px;"></div>

				<table data-vertable="ver1" class="stats_table">
				<thead>
				<tr class="row100 head">
				<th class="stats_table_left big_and_bold" data-column="column2">X-rays</th>
				<th class="stats_table big_and_bold" data-column="column3">Ultrasound</th>
				<th class="stats_table big_and_bold" data-column="column3">ECG</th>
				<th class="stats_table big_and_bold" data-column="column3">Echo</th>
				<th class="stats_table_right big_and_bold" data-column="column4">Pathology and Bio-Chemistry Investigations</th>
				</thead>
				<tbody>
				<tr class="row100">
				<td class="column100 column2 stats_table" data-column="column2">29,231</td>
				<td class="column100 column3 stats_table" data-column="column3">37,649 </td>
				<td class="column100 column4 stats_table" data-column="column4">12,328</td>
				<td class="column100 column4 stats_table" data-column="column4">2,492</td>
				<td class="column100 column4 stats_table" data-column="column4">2,77,203</td>
				</tr>
				</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="small-side-heading" style="padding-top: 22px;"> Patients from <span style="color: #c45800;">440</span> villages drawn from about <span style="color: #c45800;">30 – 35</span> mandals in Anantapur District of Andhra Pradesh have been beneficiaries of the services being provided by the mobile hospital.</div>

</div> 