
<div id="mh_stats_main_div">
	<div id="number_of_patients_served_div">
	    <div style="height:22px;float;" class="patient_details_label">
	      Male
	    </div>
	    <div style="height:22px;" class="patient_details_colon">
	      :
	    </div>
	    <div style="height:30px;" class="patient_details_input">
	      <input id="number_of_patients_served_male" type="text" placeholder="Patient's Relation Name" name="number_of_patients_served[male]"/>
	  	</div>
	</div>
</div>